@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
} */
body {
  line-height: 1;
  line-break: strict;
  -webkit-text-size-adjust: 100%;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 1.0rem;
	text-align: justify;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: inherit;
  text-decoration: none;
  cursor: pointer;
	&:hover {
		opacity: .7;
	}
}

/*--------------------------------------------------------------------
  common
--------------------------------------------------------------------*/
*{
	box-sizing:border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-shadow: none;
  box-shadow: none;
	outline: none;
}
.clearfix {
	content: "";
	display: block;
	clear: both;
}
.flex-space-between {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 768px){
		flex-wrap: wrap;
	}
}
.flex-space-around {
	display: flex;
	justify-content: space-around;
	@media screen and (max-width: 768px){
		flex-wrap: wrap;
	}
}
.flex-center {
	display: flex;
	justify-content: center;
	@media screen and (max-width: 768px){
		flex-wrap: wrap;
	}
}
.flex-start {
	display: flex;
	justify-content: flex-start;
	@media screen and (max-width: 768px){
		flex-wrap: wrap;
	}
}
.flex-end {
	display: flex;
	justify-content: flex-end;;
	@media screen and (max-width: 768px){
		flex-wrap: wrap;
	}
}
.sp {
  display: none;
}
@media screen and (max-width: 768px){
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
.mt40 {
	margin-top: 60px;
	@media screen and (max-width: 768px){
		margin-top: 40px;
	}
}

/*--------------------------------------------------------------------
  common
--------------------------------------------------------------------*/
.heading-wrapper {
	position: relative;
}
.heading {
	width: 100%;
	font-size: 46px;
	text-align: center;
	position: absolute;
	color: #fe3000;
	font-weight: bold;
	letter-spacing: 1px;
	&::after {
		position: absolute;
    content: attr(title);
    display: block;
    top: 0;
    width: 100%;
		height: 100%;
    margin: 0;
		color: #fb8c01;
		// color: linear-gradient(to right, #fe3000, #fb8c01);
		-moz-mask-image: -moz-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.2) 51%, rgba(0,0,0,0));
		-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.2) 51%, rgba(0,0,0,0));
	}
}
.sub-heading {
	font-size: 18px;
	color: #444;
	text-align: center;
	margin-top: 70px;
	letter-spacing: 1px;
	font-weight: 600;
	&.white {
		color: #fff;
	}
}

/*--------------------------------------------------------------------
  header
--------------------------------------------------------------------*/
#header {
  padding: 20px 50px 20px;
	#logo {
		width: 230px;
		img {
			width: 100%;
		}
	}
	.enroll {
		a {
			color: #333;
			display: block;
			padding: 15px 0;
			&:after {
				content: url(../img/header-aplly.png);
				margin-left: 10px;
			}
		}
	}
}
/*--------------------------------------------------------------------
  fv
--------------------------------------------------------------------*/
.fv {
  align-items: center;
	height: 700px;
	background: url(../img/fv-img.png) no-repeat top right;
	position: relative;
	.bg {
		height: 600px;
		width: 100%;
		margin-top: 100px;
		background: #fff4e0;
		position: absolute;
		z-index: -1;
	}
	.fv-inner {
		width: 1080px;
		margin: 0 auto;
	}
	.fv-title {
		font-size: 55px;
		color: #333;
		font-family: 'Montserrat', sans-serif;
		line-height: 1.15;
	}
	.fv-sub-title {
		color: #ff0000;
		font-size: 26px;
		margin-top: 20px;
		letter-spacing: 4px;
	}
	.apply-wrapper {
		position: absolute;
		bottom: 50px;
		margin: auto;
		left: 0;
		right: 0;
	}
	.apply {
		a {
			display: inline-block;
			width: 380px;
			text-align: center;
			padding: 40px 0;
			color: #fff;
			background: linear-gradient(to right, #fe3000, #fb8c01);
	    background: -moz-linear-gradient(left, #fe3000, #fb8c01);
	    background: -webkit-linear-gradient(left, #fe3000, #fb8c01);
			position: relative;
			letter-spacing: 2px;
			font-size: 20px;
			&:after {
				content: url(../img/btn-arrow-w.png);
				float: right;
				margin-right: 10px;
				position: absolute;
				top: 38px;
				right:10px;
			}
		}
	}
}
/*--------------------------------------------------------------------
  about
--------------------------------------------------------------------*/
.about {
	padding: 70px 0;
	background: #fff;
	.about-inner {
		width: 1080px;
		margin: 0 auto;
		position: relative;
	}
	.catchcopy {
		color: #333;
		font-size: 28px;
		font-weight: bold;
		margin-top: 50px;
		text-align: center;
		letter-spacing: 1px;
		span {
			border-bottom: 4px solid #fe3000;
			padding-bottom: 3px;
		}
	}
	.desc {
		font-size: 16px;
		color: #333;
		line-height: 2.2;
		margin-top: 60px;
		text-align: center;
	}
	.symbol {
		position: absolute;
		top: -90px;
		right: -80px;
	}
}
/*--------------------------------------------------------------------
  service
--------------------------------------------------------------------*/
.service {
	padding: 70px 0;
	background: url(../img/service_bg.png) center center;
	background-size: cover;
	.service-inner {
		width: 240px;
	}
	.learning {
		margin-top: 70px;
	}
	.bg {
		position: absolute;
		width: 56vw;
		height: 430px;
		opacity: .8;
		background: linear-gradient(to right, #fe3000, #fb8c01);
		background: -moz-linear-gradient(left, #fe3000, #fb8c01);
		background: -webkit-linear-gradient(left, #fe3000, #fb8c01);
	}
	.bg-right {
		background: linear-gradient(to right, #fb8c01, #fe3000);
		background: -moz-linear-gradient(left, #fb8c01, #fe3000);
		background: -webkit-linear-gradient(left, #fb8c01, #fe3000);
		right: 0;
	}
	.learning-inner {
		width: 1080px;
		margin: 0 auto;
	}
	.learning-icon {
		width: 213px;
		margin: 100px 0 0 30px;
		position: relative;
		z-index: 10;
		.icon-name {
			font-size: 18px;
			font-weight: bold;
			color: #fff;
			text-align: center;
			margin-top: 20px;
		}
	}
	.teaching-icon {
		width: 323px;
		margin: 123px 0 0 30px;
		position: relative;
		z-index: 10;
		.icon-name {
			font-size: 18px;
			font-weight: bold;
			color: #fff;
			text-align: center;
			margin-top: 20px;
		}
	}
	.service-text {
		background: #fff;
		padding: 70px 50px;
		position: relative;
		margin-top: 65px;
		max-width: 680px;
	}
	.number {
		font-size: 46px;
		text-align: center;
		position: absolute;
		left: 50px;
		color: #fe3000;
		font-weight: bold;
		letter-spacing: 1px;
		font-family: 'Montserrat', sans-serif;
		&::after {
			position: absolute;
	    content: attr(title);
	    display: block;
	    top: 0;
	    width: 100%;
			height: 100%;
	    margin: 0;
			color: #fb8c01;
			// color: linear-gradient(to right, #fe3000, #fb8c01);
			-moz-mask-image: -moz-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.2) 51%, rgba(0,0,0,0));
			-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.2) 51%, rgba(0,0,0,0));
		}
	}
	.service-title {
		font-size: 24px;
		font-weight: bold;
		margin: 15px 0 0 80px;
	}
	.service-desc {
		color: #333;
		margin-top: 40px;
		line-height: 2.2;
	}
}
